<div class="dark-mode">
  <div class="container">
    <div class="row paddingTop100">
      <div class="col-md-8 fund-style px-4 d-flex flex-column justify-content-center">
        <h1 class="pageHeadingH1">
          Earn <br />
          Pocket Money
        </h1>
        <p class="fw-bold letterSpacing04 position-relative">
          <img class="position-absolute arwSize" src="assets/images/arrow/grnArw.png" alt="" />
          Wowriors earn their own pocket money. You <br />
          need to complete
          <span class="demand-earn">on-demand works</span> <br />
          posted by various Wowrior enablers
        </p>
        <p class="fw-bold letterSpacing04">
          You can follow your schedule while earning money for your daily
          expenses.
        </p>
        <p class="letterSpacing04 fw-bold">
          Payouts are made at regular intervals
        </p>
        <a class="textColor my-3 startWowriorJourney text-decoration-none" href="#">More details here…</a>
      </div>
      <div class="col-md-4 px-3 minHeight75 d-flex justify-content-center flex-column right-box">
        <div class="right-share p-2 mt-2 d-flex">
          <div class="right-selects p-1">
            <p>
              Deliver this parcel at following location.</p>
            <p class="mb-0">B-63, Sector-9,
              Noida, Uttar Pradesh.</p>
          </div>
          <div class="d-flex justify-content-end col-md-4 mt-1 p-1">
            <img class="gift"
              src="https://images.unsplash.com/photo-1512909006721-3d6018887383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
              alt="" />
          </div>
        </div>
        <div class="wallet mt-2 p-3">
          “Get people opinion on this poll and fund your education wallet.”
        </div>
        <div class="d-flex justify-content-center">
          <button class="pocket-btn px-3 py-1 mt-5">Show More Work</button>
        </div>
      </div>
    </div>
  </div>
</div>