<div class="dark-mode">
  <div class=" container d-flex  d-flex align-items-center justify-content-start py-3">
    <div class="leftBottom d-flex flex-column align-items-start">
      <p class="mb-0 cstmLineHeight">Join <span>#wowrior</span></p>
      <p class="mb-0 cstmLineHeight fst-italic">Wowrior Community</p>
    </div>
    <div class="rightBottom ms-3">
      <a href="#"><img class="iconsSize mx-1" src="assets/images/icons/facebook.svg" alt=""></a>
      <a href="#"><img class="iconsSize mx-1" src="assets/images/icons/linkedin.svg" alt=""></a>
      <a href="#"><img class="iconsSize mx-1" src="assets/images/icons/whatsapp.svg" alt=""></a>
      <a href="#"><img class="iconsSize mx-1" src="assets/images/icons/instagram.svg" alt=""></a>
      <a href="#"><img class="iconsSize mx-1" src="assets/images/icons/linkedin.svg" alt=""></a>
      <a href="#"><img class="iconsSize mx-1" src="assets/images/icons/youtube.svg" alt=""></a>
    </div>
  </div>
</div>