<div class="dark-mode">
  <div class="container">
    <div class="row paddingTop100">
      <div class="col-md-8 px-4 d-flex flex-column justify-content-center">
        <h1 class="text-white">Warr<span class="wowriorRed">i</span>ors <span class="fontWNormal">are self
            made</span></h1>

        <p class="my-3">Wowriors make right choices and build their life by themselves.
          Not just their lives, but help other people to fulfil their objectives.</p>

        <a class="textColor my-3 startWowriorJourney text-decoration-none">Start Your Wowrior Journey Now…</a>

        <div class="d-flex flex-column flex-md-row align-items-center py-2 my-2">
          <a routerLink="/fund-your-education" class="btn3btns mx-2 text-center text-decoration-none fundBtn">FUND <br>
            YOUR EDUCATION</a>
          <a routerLink="/earn-pocket-money" class="btn3btns mx-2 text-center text-decoration-none pcoketBtn">EARN <br>
            POCKET MONEY</a>
          <a routerLink="/earn-bread-butter" class="btn3btns mx-2 text-center text-decoration-none breadBtn">EARN <br>
            BREAD & BUTTER</a>
        </div>
      </div>
      <div class="col-md-4 px-4 ">
        <div class="row">
          <div class="col-6 d-flex align-items-end flex-column">
            <img class="right3Imgs my-2"
              src="https://plus.unsplash.com/premium_photo-1682096613121-06a7a551676e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
              alt="">
            <img class="right3Imgs my-2"
              src="https://images.unsplash.com/photo-1667996113725-32148ed51f8b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=453&q=80"
              alt="">
          </div>
          <div class="col-6 d-flex align-items-start flex-column justify-content-center">
            <img class="right3Imgs"
              src="https://plus.unsplash.com/premium_photo-1682096469960-5be93da0c8a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
              alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>